@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

$primaytext: rgb(255, 255, 255);
$secondtext: rgb(238, 22, 238);

@mixin FlexAlign($Position) {
    text-align: $Position;
}

@mixin Background($image,$padding) {
    background-image: ($image);
    background-size: cover;
    top: 0;
    left: 0;
    border: 0px solid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: $padding;
    box-sizing: border-box;
}

body {
    color:$primaytext;
    margin: 0%;
}

.intro {
    @include Background(url(https://images5.alphacoders.com/108/thumb-1920-1084184.jpg),7%);
    @include FlexAlign(center);
}

#zen-supporting {
    @include FlexAlign(left);
}

.sidebar {
    @include Background(url(https://i.pinimg.com/originals/5d/93/99/5d9399c1ae72ffa6781802a36212457e.png), 7%);
    color:$secondtext;
    a:link {
        color: $primaytext;
    }
}

.explanation,
.benefits,
.participation,
.requirements {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    border-radius: 4rem;
    background: #0091ff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    @include FlexAlign(center)
}

footer {
    text-align: center;
    margin-bottom: 2rem;
}

#zen-supporting {
    a {
        @include FlexAlign(center);
    }
}

h1 {
    font-size: 100px;
    @include FlexAlign(center);
    font-weight: bold;
    text-shadow: rgb(230, 55, 55) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 3px rgba(206,182,35,0);
    color: #ffffff;
    font-family: Lobster;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-weight: bold;
}

p {
    font-size: 25px;
    font-family: Rajdhani;
}

li {
    font-family: Rajdhani;
}

a:link {
    color: rgb(255, 25, 244);
}